<!--1er al igual que el for, se usa el ng antes del if para declarar un if en angular-->
<div *ngIf="hero">
    <!--2do aqui aparecen los detalles del heroe que se haya seleccionado-->
    <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
</div>

  