<h1>{{title}}</h1>
<!--1er se muestra HeroesComponent generado-->
<!--4to se agrega un enlace de navegacion-->
<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
  </nav>
<!--3er se agrega router outlet-->
<router-outlet></router-outlet>
<!--2do se muestra MessagesComponent generado-->
<app-messages></app-messages>
