
  <h2>Lista de Heroes DC</h2>
  <ul class="heroes">
    <!--1er se pone el *ngFor para crear un for que vaya a lo largo del arreglo de "heroes" y asi mostrar la lista-->
    <!--se elimina las etiquetas del li y se envuelve el span con un a con el atributo router link-->
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>
    </li>
  </ul>
  
  <!--2do se muestra los que haya en hero-detail-->
  <!--<app-hero-detail [hero]="selectedHero"></app-hero-detail> -->

  